.slide-gallery {
  position: relative;
  float: left;
  @include clearfix();
  .img {
    min-width: 400px;
    max-width: 430px;
    min-height: 250px;
    background-color: $color-white;
  }
  .title {
    color: $color-dark-type;
    font-size: 16px;
    padding: $title-padding;
    border-radius: $title-border-radius;
    background-color: $color-white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    a {
      display: block;
      font-weight: 500;
      color: $color-dark-type;
    }

    p.sub-title{
      margin: 0;
      line-height: 18px;
      font-size: 12px;
      color: $color-gray-darker;
    }
  }
}