.list-panel {
  position: relative;
  padding: $list-panel-padding;
  width: auto;
  background-color: $color-white;
  @include clearfix();
  a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #222;
    @include clearfix();
  }
  .list-icon {
    position: relative;
    float: left;
    left: 5px;
    i {
      position: relative;
    }
  }

  .list-text {
    padding: $list-text-padding;
    white-space: nowrap;
  }
}