// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  & {
    zoom: 1;/* For IE 6/7 (trigger hasLayout) */
  }
}

@mixin opacity($nb) {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$nb)";

  /* IE 5-7 */
  filter: alpha(opacity=$nb);

  /* Netscape */
  -moz-opacity: $nb;

  /* Safari 1.x */
  -khtml-opacity:$nb;

  /* Good browsers */
  opacity: $nb;

  zoom: 1;

}
