.nav {
  height: $nav-height;
  & ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      float: left;
      display: inline;
      &.has-drown>a:after {
        content:"";
        position: relative;
        width: 0;
        height: 0;
        border: none;
        top: 10px;
        left: 3px;
        border-left: $drop_down-border-hidden;
        border-right: $drop_down-border-hidden;
        border-top: $drop_down-border-show;
      }
      &:hover .second-nav {
        left: 0;//show hidden ul;
      }
      &:hover {
        background-color: $theme-dark-color-lighter;
      }
      a {
        position: relative;
        display: block;
        padding: $nav-a-padding;
        text-decoration: none;
        line-height: $nav-a-line-height; //60px
        font-weight: $font-weight-2; //500
        font-size: $nav-a-font-size;
        cursor: pointer;
        white-space: nowrap;
      }

      form {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        border: 0;
        background: transparent;

        input {
          padding: $nav-input-padding;
          border: $nav-input-border;
          border-radius: $nav-input-radius;
          color: $dark-type-color;
          outline: none;
          font-size: 13.5px;
          background-color: transparent;
          &:focus {

          }
        }

        select {
          border: none;
          border-left: 1px solid $dark-type-color;
          border-radius: 0;
          font-size: $nav-select-font-size;
          width: $nav-select-width;
          color: $dark-type-color;
          background: transparent;
          outline: none;

        }
        i {
          position: absolute;
          float:left;
          font-weight: $font-weight-0;
        }
      }
    }
    & ul.second-nav {
      position: absolute;
      left: -999999999px; //hide ul
      margin: $second-nav-margin;
      padding: $second-nav-padding;
      width: $second-nav-width;
      z-index: 999;
      li,a{
        display: block;
        clear: both;
        width: 100%;
      }
      li a {
        line-height: $second-nav-line-height;
      }

      a {
        white-space: nowrap;
      }
    }
  }
  &.nav-dark {
    background-color: $theme-dark-color;
    & a {
      color: $dark-type-color;
    }
    & i {
      color: $dark-type-color;
    }
    ul.second-nav {
      background-color: $theme-dark-color-lighter;
      li:hover,li:active,li:focus {
        background-color: $theme-dark-color;
      }
    }
  }
}

.brand {
  position: relative;
  top: $brand-top;
  height: $brand-height;
  padding: $brand-padding;
  width: auto;
  display: inline;
}

.app-bar {
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: $dark-type-color;
  background-color: $theme-dark-color-lighter;
}