/*
  1.Fonts
  2.Global
  3.Color
  4.nav
  5.list
  6.gallery
  7.grid
  8.form
  9.cards
*/
/* 1. Fonts
   ========================================================================== */

//font-weight-level
$font-weight-0: 400;
$font-weight-1: 500;
$font-weight-2: 600;
$font-weight-3: 700;

/* 2. Global
   ========================================================================== */
$body-background-color: #F1F4F6;
$body-width: 960px;

/* 3. Color
   ========================================================================== */
$color-white:           #fff;
$color-white-darker:    #fafafa;
$theme-dark-color: #312667;
$theme-dark-color-lighter: lighten($theme-dark-color, 15%);
$dark-type-color: #e7e7e7;
$black-type-color: rgba(0, 0, 0, 0.870588);
$color-dark-type: #3B4A51;
$color-gray:     #C0C0C0;
$color-gray-darker: darken($color-gray, 25%);
//colors

/* 4. Nav
   ========================================================================== */
$nav-height: 60px;
//brand
$brand-height: 35px;
$brand-top: floor(($nav-height - $brand-height)/2);
$brand-padding: 0 5px;
//nav a
$nav-a-font-size: 13.5px;
$nav-a-line-height: $nav-height;
$nav-a-padding: 0 15px;
//nav-form
$nav-input-padding: 2px 12px 2px;
$nav-input-border: 1px solid $dark-type-color;
$nav-input-radius: 0;
$nav-select-width: 80px; //default;
$nav-select-font-size: 13px; //default;
//second nav
$second-nav-margin: 0;
$second-nav-padding: 10px 1px;
$second-nav-width: 250px;
$second-nav-line-height: 40px;
//drop down icon
$drop_down-border-hidden: 5px solid transparent;
$drop_down-border-show: 5px solid $dark-type-color;


/* 5. List
   ========================================================================== */
$list-panel-padding:   0 0 15px 0;
$list-text-padding:    5px 15px 5px 45px;

/* 6. Gallery
   ========================================================================== */
$title-padding:         15px 5px;
$title-border-radius:   0 0 4px 4px;
/* 7. Grid
   ========================================================================== */
/* 8. Form
   ========================================================================== */
  $mdl-form-border-color:   #c0c0c0;
  $mdl-form-border:         1px solid $mdl-form-border-color;
/* 9. Cards
   ========================================================================== */